@media screen and (max-width:$mobile-breakpoint) {
    #input_wrapper {
        display: block;
        img {
            margin-left: 1rem;
        }
        .input {
            display: block;
            max-width: 100%;
            flex: none;
            width: 100%;
            padding-left: 0;
            border {
                left: none;
                right: none;
            }
            &:first-child {
                border-bottom: 1px solid $border-color-light;
            }
        }
    }
    .app_header {
        .app_nav {
            background: $mob-menu-bg;
            position: fixed;
            top: 0;
            left: -250px;
            bottom: 0;
            z-index: 1;
            max-width: 250px;
            transition: 0.2s ease-in;
        }
        .app_branding {
            max-width: 100%;
            text-align: center;
            font-size: 1.5rem;
        }
    }

    #nav_pills {
        &:before {
            content: 'SETTINGS';
            display: block;
            text-align: left;
            padding: 1.3rem 0;
            text-indent: 1rem;
        }
        li {
            display: block;
            margin: 0;
            text-align: left;
            border-radius: 0;
            border-left: none;
            border-right: none;
            padding: 1.285rem 0;
            border-top: 0;
            border-bottom: 1px solid rgba(187, 187, 187, 0.12);
            text-indent: 1rem;
            &.active {
                background-color: $grey-base;
                color: $white-base;
            }
        }
    }
    label[for="off_canvas_toggle"] {
        display: block;
    }
}
