// topbar nav
#off_canvas_toggle {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="off_canvas_toggle"] {
    display: none;
    width: 40px;
    height: 60px;
    background: #1f3b50;
    cursor: pointer;
    position: absolute;
    left: 1rem;
    z-index: 1;
    transition: 0.2s ease-in;
}

#toggle_icon {
    width: 60%;
    margin: auto;
    height: 0;
    display: block;
    box-shadow: 0 10px 0 1px $white-base, 0 18px 0 1px $white-base, 0 26px 0 1px $white-base;
    position: relative;
    top: 10px;
}

.app_header,
#keyboard_wrapper ul{
    background-color: $grey-base;
    color: $white-base;
}

.app_header {
    padding: 0 1rem;
    .app_branding {
        font-weight: $font-weight-light;
        max-width: 30%;
        width: 100%;
        @extend %inline-block;
    }
}


.app_nav {
    @extend %inline-block;
    max-width: 69%;
    width: 100%;
    text-align: right;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            margin: 0 0.6rem;
            padding: 0.5rem 0.8rem;
            border-radius: 4px;
            border: 1px solid $white-base;
            @extend %inline-block;
            &.active{
                background: $white-base;
                color: $grey-base;
            }
            &:last-child {
                margin-right: 0;
            }
       }
   }
}

// keyboard nav
#keyboard_wrapper ul,
#input_wrapper{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#keyboard_wrapper {
    ul {
        li {
            box-shadow: 0 0 0 1px lighten($border-color-base, 6%);
            text-align: center;
            cursor: pointer;
            padding: 2rem 0;
            font-size: 1.3rem;
            font-weight: $font-weight-light;
            &:hover{
                background-color: lighten($grey-base, 8%);
            }
            &:active{
                background-color: lighten($grey-base, 5%);
            }
        }
    }
}

.app_body,
.app_header,
.app_footer {
    position: relative;
    transition: 0.2s ease-in;
    left: 0;
}

#off_canvas_toggle:checked {
    left: 250px;
    transition: 0.2s ease-in;
    & ~ .app_body,
    & ~ .app_header,
    & ~ .app_footer,
    & ~ label {
        left: 250px;
        transition: 0.2s ease-in;
    }
    & ~ label {
        left: calc(250px + 1rem);
    }
    & ~ .app_header .app_nav {
        left: 0 ;
        transition: 0.2s ease-in;
    }
}
