// General
$grey-base: #1f3b50;
$blue-base: #32c9da;
$white-base: #ffffff;
$border-color-base: #132533;
$border-color-light: #cfcfcf;
$mob-menu-bg: #161616;

// Typography
$font-size-base: 16px;
$font-family-base: 'Ubuntu';
$font-weight-base: 400;
$font-weight-light: 300;

// Breakpoints
$mobile-breakpoint: 768px;
